.root {
	width: 100%;
	max-width: var(--container);
	margin-inline: auto;
	padding-inline: 20px;
}

@media (min-width: 640px) {
	.root {
		padding-inline: 32px;
	}
}

@media (min-width: 960px) {
	.root {
		padding-inline: 48px;
	}
}
